In [1]:
# Replace "type here" on line 2 with "Hello World!"
print("hola mundo!")

hola mundo!

In [2]:
# You can assign "Hello World!" to the variable below on line 3.

my_text="Hello World!"
print(my_text)

Hello World!

In [3]:
# Type a couple of different values on line 9 inside the print function. Make sure they are separated by commas.    
    
print("Oreo", "Guerito", "Tito", "Gato", "Lupito", "Coco", "Riu", "Dean", "Samy", "Mina")

Oreo Guerito Tito Gato Lupito Coco Riu Dean Samy Mina

In [1]:

#Type here. Assign a number to the variable: glass_of_water

glass_of_water= 3

print("I drank", glass_of_water, "glasses of water today.")

I drank 3 glasses of water today.

In [2]:
#Fill the print function so it prints glass_of_water

glass_of_water=3

glass_of_water=glass_of_water + 1


print(glass_of_water)

4

In [3]:
#Assign an integer to the variable, then print it.

men_stepped_on_the_moon= 12
print(men_stepped_on_the_moon)

12

In [4]:
#Type a couple of words or a short sentence for your variable, then print it.

my_reason_for_coding= "el dinero"
print(my_reason_for_coding)

el dinero

In [5]:
#Assign a float with 2 decimals to the variable below. 
#If you don't wan't to search the value you can check out Hint 1.

global_mean_sea_level_2018=21

#Type your code here.
global_mean_sea_level_2018= 21.36


print(global_mean_sea_level_2018)

21.36

In [6]:
men_stepped_on_the_moon=12

#Type your code here.

answer_1= type(men_stepped_on_the_moon)


print(answer_1)

<class 'int'>

In [7]:
my_reason_for_coding="intergalactic travel"

#Type your code here.

answer_2= type(my_reason_for_coding)


print (answer_2)

<class 'str'>

In [8]:
global_mean_sea_level_delta_2018=21.36

#Type your code here.

answer_3= type(global_mean_sea_level_delta_2018)


print(answer_3)

<class 'float'>

In [9]:
staying_alive=True

#Type your code here.


answer_4= type(staying_alive)


print(answer_4)

<class 'bool'>

In [11]:
staying_alive=True

#Type your code here.


answer_4= type(staying_alive)


print(answer_4)

<class 'bool'>

In [12]:
#my_grade variable is a string (because it's in quotes). 
#On line 9, convert it to an integer.

my_grade="10"

answer_5= int(my_grade)


print("10")

print (type(my_grade))

print(type(answer_5))

10
<class 'str'>
<class 'int'>

In [1]:
#Create an empty list on line 3 and assign its type on line 4

gift_list= list()

answer_1= type(gift_list)


print(answer_1)

<class 'list'>

In [2]:
#Create an empty dictionary on line 3 and assign its type on line 4

grocery_items= dict()

answer_2= type(grocery_items)


print(answer_2)

<class 'dict'>

In [3]:
#Create an empty tuple on line 3 and assign its type on line 4

bucket_list= tuple() 

answer_2= type(bucket_list)


print(answer_2)

<class 'tuple'>

In [4]:
#Fill in the right side of equation on line 3 so that gift_list is assigned to a list with values in it.

gift_list= ["ipad", "phone", "Oreo" ]
print(gift_list)

['ipad', 'phone', 'Oreo']

In [5]:
#Fill in the right side of equation on line 3 so that grocery_list is assigned to a dictionary with values in it.

grocery_list= {'bananas':8, 
               'leches':['soya', 'almendra', 'linaza', 'chicharo'],
              'notas': 'tiene que estar listo antes de ano nuevo',
               'comida_de_navidad' : {'plato_1': 'papas', 'plato_2': 'romeritos',
                } 
              }


print(grocery_list)

{'bananas': 8, 'leches': ['soya', 'almendra', 'linaza', 'chicharo'], 'notas': 'tiene que estar listo antes de ano nuevo', 'comida_de_navidad': {'plato_1': 'papas', 'plato_2': 'romeritos'}}

In [6]:
#Fill in the right side of equation on line 3 so that bucket_list is assigned to a tuple with values in it.

bucket_list= ('comer', 'conseguir un oreo', 'ver la tele')
print(bucket_list)

('comer', 'conseguir un oreo', 'ver la tele')