In [1]:
# Replace "type here" on line 2 with "Hello World!"
print("hola mundo!")

hola mundo!

In [2]:
# You can assign "Hello World!" to the variable below on line 3.

my_text="Hello World!"
print(my_text)

Hello World!

In [3]:
# Type a couple of different values on line 9 inside the print function. Make sure they are separated by commas.    
    
print("Oreo", "Guerito", "Tito", "Gato", "Lupito", "Coco", "Riu", "Dean", "Samy", "Mina")

Oreo Guerito Tito Gato Lupito Coco Riu Dean Samy Mina

In [1]:

#Type here. Assign a number to the variable: glass_of_water

glass_of_water= 3

print("I drank", glass_of_water, "glasses of water today.")

I drank 3 glasses of water today.

In [2]:
#Fill the print function so it prints glass_of_water

glass_of_water=3

glass_of_water=glass_of_water + 1


print(glass_of_water)

4

In [3]:
#Assign an integer to the variable, then print it.

men_stepped_on_the_moon= 12
print(men_stepped_on_the_moon)

12

In [4]:
#Type a couple of words or a short sentence for your variable, then print it.

my_reason_for_coding= "el dinero"
print(my_reason_for_coding)

el dinero

In [5]:
#Assign a float with 2 decimals to the variable below. 
#If you don't wan't to search the value you can check out Hint 1.

global_mean_sea_level_2018=21

#Type your code here.
global_mean_sea_level_2018= 21.36


print(global_mean_sea_level_2018)

21.36

In [6]:
men_stepped_on_the_moon=12

#Type your code here.

answer_1= type(men_stepped_on_the_moon)


print(answer_1)

<class 'int'>

In [7]:
my_reason_for_coding="intergalactic travel"

#Type your code here.

answer_2= type(my_reason_for_coding)


print (answer_2)

<class 'str'>

In [8]:
global_mean_sea_level_delta_2018=21.36

#Type your code here.

answer_3= type(global_mean_sea_level_delta_2018)


print(answer_3)

<class 'float'>

In [9]:
staying_alive=True

#Type your code here.


answer_4= type(staying_alive)


print(answer_4)

<class 'bool'>

In [11]:
staying_alive=True

#Type your code here.


answer_4= type(staying_alive)


print(answer_4)

<class 'bool'>

In [12]:
#my_grade variable is a string (because it's in quotes). 
#On line 9, convert it to an integer.

my_grade="10"

answer_5= int(my_grade)


print("10")

print (type(my_grade))

print(type(answer_5))

10
<class 'str'>
<class 'int'>

In [1]:
#Create an empty list on line 3 and assign its type on line 4

gift_list= list()

answer_1= type(gift_list)


print(answer_1)

<class 'list'>

In [2]:
#Create an empty dictionary on line 3 and assign its type on line 4

grocery_items= dict()

answer_2= type(grocery_items)


print(answer_2)

<class 'dict'>

In [3]:
#Create an empty tuple on line 3 and assign its type on line 4

bucket_list= tuple() 

answer_2= type(bucket_list)


print(answer_2)

<class 'tuple'>

In [4]:
#Fill in the right side of equation on line 3 so that gift_list is assigned to a list with values in it.

gift_list= ["ipad", "phone", "Oreo" ]
print(gift_list)

['ipad', 'phone', 'Oreo']

In [5]:
#Fill in the right side of equation on line 3 so that grocery_list is assigned to a dictionary with values in it.

grocery_list= {'bananas':8, 
               'leches':['soya', 'almendra', 'linaza', 'chicharo'],
              'notas': 'tiene que estar listo antes de ano nuevo',
               'comida_de_navidad' : {'plato_1': 'papas', 'plato_2': 'romeritos',
                } 
              }


print(grocery_list)

{'bananas': 8, 'leches': ['soya', 'almendra', 'linaza', 'chicharo'], 'notas': 'tiene que estar listo antes de ano nuevo', 'comida_de_navidad': {'plato_1': 'papas', 'plato_2': 'romeritos'}}

In [6]:
#Fill in the right side of equation on line 3 so that bucket_list is assigned to a tuple with values in it.

bucket_list= ('comer', 'conseguir un oreo', 'ver la tele')
print(bucket_list)

('comer', 'conseguir un oreo', 'ver la tele')

In [1]:
gift_list=['socks', '4K drone', 'wine', 'jam']
# Type your code here.

gift_list.insert(2,"slippers")


print(gift_list)

['socks', '4K drone', 'slippers', 'wine', 'jam']

In [2]:
gift_list=['socks', '4K drone', 'wine', 'jam']
# Type your code here.

gift_list.append(["socks", "tshirt", "pajamas"])

print(gift_list)

['socks', '4K drone', 'wine', 'jam', ['socks', 'tshirt', 'pajamas']]

In [3]:
lst=["CRV", "Outback", "XC90", "GL", "Cherokee", "Escalade"]
#  Type your code here.

lst.append(["Navigator", "Suburban"])

print(lst)

['CRV', 'Outback', 'XC90', 'GL', 'Cherokee', 'Escalade', ['Navigator', 'Suburban']]

In [4]:
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]
#  Type your code here.

lst.remove(99)

print(lst)

[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123]

In [5]:
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]
#  Type your code here.


lst.reverse()
print(lst)

[99, 123, 8679, 2, 1, 101, 76, 6, 54, 777, 55]

In [6]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]
#  Type your code inside print() function.

answer_1=lst.count(6)

print(answer_1)

4

In [7]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

#  Type your code on line 4:
answer_1= sum(lst)

print(answer_1)

1090

In [8]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

#  Type your code on line 4:
answer_1= min(lst)

print(answer_1)

1

In [9]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

#  Type your code on line 4:
answer_1= max(lst)

print(answer_1)

777

In [1]:
tt=(55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)

#  Type your code here.

answer_1= tt.count(777)

print(answer_1)

2

In [2]:
tt=(55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)

#  Type your code here.

answer_1= tt.count(tt[2])

print(answer_1)

2

In [3]:
tt=(42, 1092, 11, 88, 65, 2, 6)

#  Type your code on line 4:

ans_1= sum(tt)


print(ans_1)

1306

In [4]:
tt=(66, 555, 11, 101, 9, 1001)

#  Type your code on line 4:

ans_1= min(tt)


print(ans_1)

9

In [5]:
tt=(66, 555, 11, 101, 9, 1001)

#  Type your code on line 4:

ans_1= max(tt)


print(ans_1)

1001

In [6]:
dict={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}

#Type your answer below.
answer_1= dict["born"]
print(answer_1)

-427

In [7]:
dict={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}

#Type your answer below.

dict["work"] = ["Apology", "Phaedo", "Republic", "Symposium"]

print(dict)

{'name': 'Plato', 'country': 'Ancient Greece', 'born': -427, 'teacher': 'Socrates', 'student': 'Aristotle', 'work': ['Apology', 'Phaedo', 'Republic', 'Symposium']}

In [8]:
dict={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}

#Type your answer below.
dict["born"] = -428

print(dict["born"])

-428

In [9]:
dict={"son's name": "Lucas", "son's eyes": "green", "son's height": 32, "son's weight": 25}

#Type your answer below.
dict["son's height"] = 32+2
print(dict)

{"son's name": 'Lucas', "son's eyes": 'green', "son's height": 34, "son's weight": 25}

In [10]:
dict={"son's name": "Lucas", "son's eyes": "green", "son's height": 32, "son's weight": 25}

#Type your answer below.
ans_1= dict.items()

print(ans_1)

dict_items([("son's name", 'Lucas'), ("son's eyes", 'green'), ("son's height", 32), ("son's weight", 25)])

In [11]:
dict = {"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Type your answer inside the print.
ans_1= dict.get("son's eye color")

print (ans_1)

green

In [12]:
dict={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Type your answer here.
ans_1= ans_1=dict.get("son's age", 2)

print(ans_1)

2

In [13]:
dict={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#clear the dictionary here then print it.

dict.clear()

print(dict)

{}

In [14]:
dict={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Write your answer here.
ans_1= max(dict)

print(ans_1)

son's weight

In [15]:
dict={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Write your answer here.
ans_1= len(dict)

print(ans_1)

4

In [16]:
dict={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Write your answer here.
ans_1= min(dict)

print(ans_1)

son's eye color

In [1]:
str="It's always darkest before dawn."

#Type your answer here.

ans_1= str[0]+str[1]+str[-1]

print(ans_1)

It.

In [2]:
str="It's always darkest before dawn."

#Type your code here.

str = str.replace(".","!")


print(str)

It's always darkest before dawn!

In [3]:
str="EVERY Strike Brings Me Closer to the Next Home run."
# Type your code here.

str = str.lower()


print(str)

every strike brings me closer to the next home run.

In [4]:
str="don't stop me now."
# Type your code here.


str = str.upper()
print(str)

DON'T STOP ME NOW.

In [5]:
str="there are no traffic JamS Along The extra mile."

#Type your answer here.


str  = str.capitalize()

print(str)

There are no traffic jams along the extra mile.

In [7]:
str="ticket here are no traffic jams along the extra mile."
#  Type your code here.

ans_1= str.startswith("ticket") 


print(ans_1)

True

In [9]:
str="There are no traffic jams along the extra mile."
#  Type your code here.


ans_1= str.endswith("mile.")


print(ans_1)

True

In [10]:
str="The best revenge is massive success."

#  Type your code here.

ans_1= str.index("v")


print(ans_1)

11

In [11]:
str="The best revenge is massive success."

#  Type your code here.

ans_1= str.index("x")

print(ans_1)

ValueError: substring not found

In [12]:
str="The best revenge is massive success."

#  Type your code here.

ans_1= str.find("x")

print(ans_1)

-1

In [13]:
str="People often say that motivation doesn't last. Well, neither does bathing.  That's why we recommend it daily."
#  Type your code here.

ans_1= str.count("a")

ans_2= str.count("o")


print("count of a is: ", ans_1, " count of o is: ", ans_2)

count of a is:  7  count of o is:  7

In [15]:
v_1="1"
v_2=1

#  Type your code on line 4:

ans_1= type(v_1)

ans_2= type(v_2)


print(ans_2)

<class 'int'>

In [16]:
str="1.975.000"

#  Type your code here:

ans_1= len(str)


print(ans_1)

9

In [1]:
lst=[11, 10, 12, 101, 99, 1000, 999]

answer_1= len(lst)


print(answer_1)

7

In [2]:
msg="Be yourself, everyone else is taken."
#Type your code here. S√ç SE CUENTAN LOS ESPACIOS

msg_length= len(msg)


print(msg_length)

36

In [3]:
msg="Be yourself, everyone else is taken."
#Type your code here.

msg_length= len(msg)


print(msg_length)

36

In [4]:
dict={"Real Madrid": 13,"AC Milan": 7,"Bayern Munich":5 ,"Barcelona": 5, "Liverpool": 5}
#Type your answer here.

ans_1= len(dict)

print(ans_1)

5

In [5]:
gift_list=['4K drone', 'wine', 'jam', ['socks', 'pajamas', 'raincoat']]
# Type your code here.

ans_1= len(gift_list[-1][-1])

print(ans_1)

8

In [6]:
lst=[11, 100, 99, 1000, 999]

#Type your answer here.

lst.sort()


print(lst)

[11, 99, 100, 999, 1000]

In [7]:
lst=["Ukraine", "Japan", "Canada", "Kazakhstan", "Taiwan", "India", "Belize"]

#Type your code here.


lst.sort()
print(lst)

['Belize', 'Canada', 'India', 'Japan', 'Kazakhstan', 'Taiwan', 'Ukraine']

In [9]:
lst=[11, 100, 101, 999, 1001]

#Type your answer here.

lst.sort(reverse =-1)

print(lst)

[1001, 999, 101, 100, 11]

In [10]:
gift_list=['socks', '4K drone', 'wine', 'jam']

# Type your answer here.

gift_list.sort(reverse= True)
print(gift_list)

['wine', 'socks', 'jam', '4K drone']

In [46]:
import random

In [55]:
elc_members = ["Ana", "Sof", "Diego", "Chio", "Lily", "July", "Pri", 
               "Monste", "Carlos", "Vicky", "Isaias", "Z", "Gerry"]

In [56]:
elc_members

['Ana',
 'Sof',
 'Diego',
 'Chio',
 'Lily',
 'July',
 'Pri',
 'Monste',
 'Carlos',
 'Vicky',
 'Isaias',
 'Z',
 'Gerry']

In [79]:
def standup_order(elc_names,order):
    print(elc_names)
    if order == "a_to_z":
        #print(elc_names)
        a = elc_names.sort()
        return a
    if order == "z_to_a":
        return elc_names.sort(reverse= True)
    if order == "random":
        return random.shuffle(elc_names)

In [85]:
standup_order(elc_members,"a_to_z")

['Ana', 'Carlos', 'Chio', 'Diego', 'Gerry', 'Isaias', 'July', 'Lily', 'Monste', 'Pri', 'Sof', 'Vicky', 'Z']

In [87]:
standup_order(elc_members,"z_to_a")

['Z', 'Vicky', 'Sof', 'Pri', 'Monste', 'Lily', 'July', 'Isaias', 'Gerry', 'Diego', 'Chio', 'Carlos', 'Ana']

In [88]:
standup_order(elc_members,"random")

['Z', 'Vicky', 'Sof', 'Pri', 'Monste', 'Lily', 'July', 'Isaias', 'Gerry', 'Diego', 'Chio', 'Carlos', 'Ana']

In [1]:
NFL=["Panthers", "Bears", "Dolphins" "Patriots", "Saints", "Giants"]

# Type your code here.

NFL.sort(reverse= True)

answer_1= NFL[-1]



print(answer_1)

Bears

In [2]:
muni=["Melbourne", "Shanghai", "Delhi", "Atlanta", "Moscow", "Montreal"]

# Type your code here.


muni.sort(reverse = True)


print(muni)

['Shanghai', 'Moscow', 'Montreal', 'Melbourne', 'Delhi', 'Atlanta']

In [3]:

dict={"tiramisu":5, "chocolate":2, "pudding":3, "cheesecake":4}
#  Type your code below.

key_list= dict.keys()

key_list = list(dict)

key_list.sort()

print(key_list)

['cheesecake', 'chocolate', 'pudding', 'tiramisu']

In [4]:

dict={"tiramisu":5, "chocolate":2, "pudding":3, "cheesecake":4}
#  Type your code below.

key_list = list(dict.keys())
key_list.sort()

print(key_list)

['cheesecake', 'chocolate', 'pudding', 'tiramisu']

In [5]:
lst=[11, 100, 99, 1000, 999]

#Type your answer here.

popped_item= lst.pop()
 
print(popped_item)
print(lst)

999
[11, 100, 99, 1000]

In [6]:
lst=["milk", "banana", "eggs", "bread", "broccoli", "lemons"]

#Type your code here.


item= lst.pop(4)


print(lst, item)

['milk', 'banana', 'eggs', 'bread', 'lemons'] broccoli

In [7]:
lst=["milk", "banana", "eggs", "bread", "broccoli", "lemons"]

#Type your code here.


item= lst.pop(lst.index("broccoli"))


print(lst, item)

['milk', 'banana', 'eggs', 'bread', 'lemons'] broccoli

In [8]:
GDP_2018={"US": 21, "China": 16, "Japan": 5, "Germany": 4, "India": 3, "France": 3, "UK": 3, "Italy": 2}

#Type your answer here.

italy_gdp= GDP_2018.pop("Italy")


print(GDP_2018)
print(italy_gdp, "trillion USD")

{'US': 21, 'China': 16, 'Japan': 5, 'Germany': 4, 'India': 3, 'France': 3, 'UK': 3}
2 trillion USD

In [9]:
#Type your answer here.

ans_1= input()
 
print("Hello!, " + ans_1)

Holi elc!
Hello!, Holi elc!

In [10]:
#Type your code here.
ans_1= input("Please enter your age" )


print(type(ans_1))

Please enter your age30
<class 'str'>

In [11]:
#Type your answer inside print function, all in one line.


print(int(input("Please enter the current year."))+50)

Please enter the current year.2023
2073

In [12]:
# Type your answer here.

message= input("How many days would you like to convert to a year?")

result= int(message)/365


print(result)

How many days would you like to convert to a year?730
2.0

In [13]:
# Type your answer here.

message= input("How many days would you like to convert to a year?")

result= float(message)/365


print(result)

How many days would you like to convert to a year?5699
15.613698630136986

In [14]:
# Type your answer here.

message= input("How many miles would you like to convert to kms?")

result= float(message)*1.609


print(result)

How many miles would you like to convert to kms?156
251.004

In [ ]:
# Type your answer here.

message= input("How many miles would you like to convert to kms?")

result= float(message)*1.609


print(result)